<div class="background">
  <img id="img" src="Shubham01.webp" alt="Background Image">
  <div class="container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
          Enter a valid email
        </div>
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          Password must be at least 6 characters long
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
